.star-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.active,
.inactive {
  cursor: pointer;
}

.active {
  color: yellow;
}
.inactive {
  color: black;
}
